//- ++ Copyright information ++
footer#footer
	//- .container
	//- 	hr
	p.text-center 
		| &copy; #{title} #{curYear}

//- .container: #footer

//- 	//- You don't _have_ to include a link saying your site is powered by KeystoneJS, but we appreciate it!
//- 	p Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.
